:root {
    --title-base-font-size: 7em;
    --title-base-font-size-mult: 1.8;
    --title-base-font-letter-spacing: -10px;
    --content-font-size: 2em;
    --select-button-font-size: 1em;
}

:root[data-theme="raspberry"] {
    --main-page-bg-color: #fff3b0;
    --killing-color: #ef476f;
    --type-color: #669bbc;
    --dotcom-color: #003049;
    --main-font-color: #003049;
    --hover-color: #ff6fbf;
}

:root[data-theme="dark"] {
    --main-page-bg-color: #111111;
    --killing-color: #ef47d2;
    --type-color: #669bbc;
    --dotcom-color: #003049;
    --main-font-color: #003049;
    --hover-color: #ff6fbf;
}

:root[data-theme="neo"] {
    --main-page-bg-color: #fff1e6;
    --killing-color: #ef6a47;
    --type-color: #6b66bc;
    --dotcom-color: #000f49;
    --main-font-color: #000f49;
    --hover-color: #d6ff6f;
}

:root[data-theme="confetti"] {
    --main-page-bg-color: #fdb67f;
    --killing-color: #ff6fbf;
    --type-color: #b9e4ff;
    --dotcom-color: #04ffdd;
    --main-font-color: #003049;
    --hover-color: #6fff88;
}

.main-page {
    background-color: var(--main-page-bg-color);
    display:block;
    justify-content: center;
}

.content-main-page {
    display: block;
    justify-content: center;
    color: var(--main-font-color);
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: var(--content-font-size);
    line-height: 0.85;

}

a:link, a:active, a:visited {
    color: var(--main-font-color);
    font-style: normal;
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--main-font-color);
    font-style: normal;
    text-decoration: none;
    background-color: var(--hover-color);
}

.font-killing {
    color: var(--killing-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: var(--title-base-font-size);
    font-style: italic;
    line-height: 0;
}

.font-type {
    color: var(--type-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: calc(var(--title-base-font-size) * var(--title-base-font-size-mult));
    font-style: normal;
    line-height: 0;
    letter-spacing: calc(var(--title-base-font-letter-spacing) * var(--title-base-font-size-mult));
}

.font-dotcom {
    color: var(--dotcom-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: calc(var(--title-base-font-size) * var(--title-base-font-size-mult));
    font-style: normal;
    line-height: 0.3;
    letter-spacing: calc(var(--title-base-font-letter-spacing) * var(--title-base-font-size-mult));
}

.select-button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    background-color: var(--main-page-bg-color);
    border:dashed;
    border-color: var(--hover-color);
    color: var(--main-font-color);
    font-size: var(--select-button-font-size);
}